.card-carrousel{
    background-color: #F8F9F9  ;
    animation-duration: 8s;
    animation-name: slideinC;
}
@media (min-width: 320px){
    .img-6 {
        height: 151px;
}
}
@media (min-width: 375px){
    .img-5 {
        height: 179px;
}
}
@media (min-width: 425px){
    .img-4 {
        height: 202px;
}
}
@media (min-width: 768px){
    .img-3 {
        height: 365px;
    }
}

.card-img{
    background-color: black;
    opacity: 0.5;
}

@keyframes slideinC {
    from {right: -900px;}
    to {right: 0px;}
}
