<div class="card mt-2 p-1 card-carrousel">
  <ngb-carousel #carousel [interval]="10000" >
    <ng-template ngbSlide *ngFor="let dato of images">
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
      <div class="carousel-caption">
        <div class="card card-img">
          <div class="card-body">
            <h5 class="card-title">{{ dato['titulo'] }}</h5>
            <p class="card-text"> {{dato['detalle']}}</p>
          </div>
        </div>
      
      </div>
          <img class="d-block w-100 img-3 img-4 img-5 img-6" src="{{ dato['img'] }}"  height="350px">
      </a>
    </ng-template>
  </ngb-carousel>
</div>